.App {
  text-align: center;
  background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898; 
  background-blend-mode: multiply,multiply;
  height:100vh;
  position:relative; 
  border: solid black;
  margin:0;
  padding:0;
  display:flex;
  flex-direction: column;
}



nav{
display:flex;
justify-content: space-around;
align-items: center;
min-height: 10vh;
background: lightseagreen;
color: white;
}

.nav-links{
  width: 40%;
  display:flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;

}

.header{
  display:flex;
  justify-content: space-around;
  align-items: center;
   width:100%;
  background: lightseagreen;
  color: white;
  top: 0px;
  margin: 0;
}

.footer{
  display:flex;
  justify-content: space-around;
  align-items: center;
   width:100%;
  background: lightseagreen;
  color: white;
  position:relative;
  bottom: 0px;
  margin: 0;
  }

.footerlinks {
  width: 40%;
  display:flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}


.content{
  width:80vh;
  height:80vh;
  margin: 0 auto;
  max-width: 90%;
  max-height: 90%;
  top: 10px;
  overflow: scroll;
  flex-direction: column;
  justify-content: space-around;
  
}

.kategorieübersicht{
  list-style: none;
}

.üSchwarz{
  color: black;
}

.ügeta{
  color: black;
}

.üchaos{
  color: black;
}


.generaladddiv{
  border : solid;
  margin: 50px;
  padding:20px;
  max-width: 100%;

}

h3{
  justify-content: space-around;
  padding: 4ex;
}