.kontaktformular{
    border:solid black;
    margin: 50px;
    padding:20px;
   
}

.inputkontakt{
    justify-content: space-around;
    width: 120px;
     min-width: 100%; 
    box-sizing: border-box;
    padding: 4px;
    outline: none;
    margin: 5px;
}

.labelkontakt{
    justify-content: space-around;
     padding: 4ex;
}

.textareadivkontakt{
justify-content: space-around;
margin:10px;

}

.textareakontakt{
    justify-content: space-around;
    box-sizing: border-box;
    outline: none;
    width: 120px;
    height: 150px;
    min-width: 100%; 
    padding :4px;
    margin: 5px;
}

.buttonkontakt{
    width: 100px;
    height: 40px;
    border-radius: 10px ;
}